#Assets
assets/*

#Debug
.cfstate
.cf-cache.json
.cf-ratelimit.json
/workspace
/Diag Output
/reports

#Logs
hash-resolution-report.csv
loader-version-corrections.csv
mod-folder-inventory.csv
mod-folder-inventory.meta.json
ore_item_scan.csv
mod-list-processing-report.csv
modlist-comparison.txt

links_to_mods.txt
links_to_mods.resolved.txt
links_to_mods.resolved-by-hash.txt


#Secrets
secrets.local.env
